#divCar
{
    width: 100%;
    overflow: hidden;
    
}

#divCar img
{
    object-fit: cover;
    height: 600px;
}

#Tabs
{
    
    --bs-border-radius: 0%;
    
}

#Tabs button
{
    background-color: darkcyan;
    color:darkblue;
}

#Tabs .active
{
    background-color: darkblue;
    color: whitesmoke;
    transition: all;
    transition-duration: 0.5s;
}

#tabsCards .card
{
    background-color:darkcyan;
    text-align: center;
    
}

#tabsCards .card-title
{
    margin-top:5px;
    color:antiquewhite;
}

#tabsCards a 
{
    text-decoration: none;
    
}

#tabsCards p
{
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:lightblue;
}

@media only screen and (max-width:500px)
{
    #tabsCards .card-title
    {
        font-size: 15px;
    }
    #tabsCards p 
    {
        font-size: 20px;
    }
}



@media only screen and (max-width:600px)
{
    #divCar img{
        height: 200px;
    }
    #divCar h3,p{
        font-size: small;
    }
}
