#divCar
{
    width: 100%;
    overflow: hidden;
    
}
#divCar img
{
    object-fit: cover;
    height: 500px;
}
#Tabs .active
{
    background-color: blue;
    color: whitesmoke;
    transition: all;
    transition-duration: 0.5s;
}
.Tabes p 
{
    font-size: 30px;
    text-align: center;
}




@media only screen and (max-width:600px)
{
    #divCar img{
        height: 200px;
    }
    #divCar h3,p{
        font-size: small;
    }
}
