button.navbar-toggler
{
    background-color: black;
}

.navbar-toggler
{
    color:black;
}

button.navbar-toggler
{
    background-color: darkcyan;
}

nav
{
    background-color: black;
}

.nav-item button 
{
    color:antiquewhite;
}