.offcanvas-body
{
    background-color: currentColor;
}
.offcanvas-header
{
    background-color: black;
}
div.offcanvas-title
{
    color:antiquewhite;
}
div.list-group-item
{
    background-color: black;
}
div a 
{
    color:antiquewhite;
}
button.btn-close
{
    filter: invert(1);
}
#offcanvasImg
{
    border:2px solid black;
}