#registerCol
{
    
    box-shadow: gray 0px 1px 3px 0px;
    border-radius: 20px;
    margin-top: 80px;
    margin-left: 5px;
    margin-right: 5px;
}


#registerForm
{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin-top: 50px;
    color: gold;
    margin-bottom: 50px;
}

#registerForm input
{
    margin: auto;
    max-width: 600px;
    margin-top:4px;
}

#registerForm #BtnDiv
{
    display: grid;
    max-width: 600px;
    margin: auto;
    margin-top: 4px;
}

#registerForm .form-select
{
    max-width: 600px;
    margin: auto;
    margin-top: 4px;
}

#AlertDiv
{
    direction: rtl;
}

#AlertDiv .alert
{
    max-width: 300px;
    background-color: darkred;
    display: flex;
    margin-right: 7px;
    margin-top: 4px;
}

#AlertDiv .btn-close
{
    margin-right: 200px;
    
}

#AlertDiv .alert-heading
{
    font-size: 20px;
    color:whitesmoke;
}